@font-face{
    font-family: 'Street';
    src: url('./Font/street.otf');
}

:root{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-image: 
        url('./img/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'street';
    color:crimson;
    font-size:46px;
    text-align: center;
}

table{
    width:600px;
    height: 800px;
    border: 10px, outset, rgb(237,175,5);
    border-radius: 10px;
    background-color:black;
    margin:auto;
}

#cabecera-tabla{
    background-image: 
        url('./img/fondocabecera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'street';
    text-align:center;
    font-size: 40px;
    color:whitesmoke;
    opacity: 0.5;
}

table tr, table td{
    border: solid rgb(255, 0, 0) 2px;
    width: 40px;
    height: 45px;
    border: solid 2px gray;
    border-radius: 10px;
    font-family: 'street';
    color: darkorange;
    text-align:center;
    font-size: 18px;
    font-weight: bold;
}

.titulo-celdas{
    margin-bottom: 135px;
}

#KEN{
    background-image: url('./img/ken.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#CHUN{
    background-image: url('./img/ChunLi.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#ZANG{
    background-image: url('./img/Zangief.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#DHALSIN{
    background-image: url('./img/Dhalsim.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#RYU{
    background-image: url('./img/Ryu.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#HONDA{
    background-image: url('./img/EHonda.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#BLANKA{
    background-image: url('./img/Blanka.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#GUILLE{
    background-image: url('./img/Guille.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#HAWK{
    background-image: url('./img/THawk.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#FEILONG{
    background-image: url('./img/Feilong.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#DEE{
    background-image: url('./img/DeeJay.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#CAMMY{
    background-image: url('./img/Cammy.png');
    background-repeat: no-repeat;
    background-position: bottom;
}


#BALROG{
    background-image: url('./img/Balrog.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#VEGA{
    background-image: url('./img/Vega.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#SAGAT{
    background-image: url('./img/Sagat.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#MBISON{
    background-image: url('./img/MBison.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

h2 {
    font-family: 'street';
    color:crimson;
    font-size: 28px;
    text-align: center;
}

/* Formulario */
form{
    background-color: black;
    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237,175,5);
    border-radius: 10px;
    color:white;
    text-align:center;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin:auto;
    text-align:left;
}

legend{
    font-family: 'street';
    font-size: 14px;
    color: rgb(237, 175, 5);
    text-align:left;
}


/* arreglar esto */
#sexo input{
    display:inline;
}
#fecha input{
    display:inline;
}
input{
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
}
#direccion-postal input{
    display: inline;
    margin-bottom: 0px;
}
textarea{
    width: 560px;
    height: 150px;
}
/**/


/* esto está bien */
#botones input{
    border: 1px solid crimson;
    background-color: crimson;
    font-family: 'street';
    font-size: 18px;
    color:white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
    display:inline-block;
    margin-top: 20px;
}


